
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@700&display=swap');


.footerBottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

 .navbar {
  background:  rgb(255, 255, 255);

 }

.jumbotron-billboard .image {
  margin-bottom: 0px;
  opacity: 0.2;
  color: #fff;
  background: #000 url("../pic.jpg") top center no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; 
  overflow: hidden;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}
.jumbotron h2 {margin-top:0;}
.jumbotron {
position:relative;
padding-top:50px;
padding-bottom:50px;
}
.jumbotron .container {
position:relative;
z-index:2;
}



h1,
 a, button{
  font-family: "Overlock", cursive;
  color: rgb(0, 0, 0);
}




.card-img-top{
  height:190px;
}


button:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}