.footerBottom{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar{
    background-color:rgb(1, 79, 134); 
}


.jumbotron{
    background-color:rgb(42, 111, 151,.73);
}



/* .container1{
    background-color:rgb(44, 125, 160, .73);
} */

.text-center{
    font-size:35px;
}
